.country_info {
  position: absolute;
  left: 40px;
  top: 6rem;
  z-index: 1;
  border: 2px solid rgb(255, 255, 255, 0.75);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 10rem;
  max-height: 60vh;
  width: 25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  overflow-y: auto;
  background-color: rgb(100, 100, 100, 0.5);
}

.country_info * {
  color: white;
}

.country_info h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding-right: 2rem;
}

.overview *{
  color: lightblue;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.recordings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding-top: 1rem;
}

.recordings li {
  font-weight: 400;
  display: flex;
  /* justify-content: center; */
  /* gap: 1rem; */
  align-items: center;
}

.globe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-in-out;
}

.move {
  left: 25rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(0, 0, 18);
  width: 100vw;
  height: 100vh;
}

.actionplans {
  position: absolute;
  top: 5rem;
  left: 30rem;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.actionplan {
  border: 2px solid rgb(255, 255, 255, 0.75);
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

.actionplan {
  width: 25rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  overflow-y: auto;
  background-color: rgb(100, 100, 100, 0.5);
}

ul {
  padding-left: 20px; /* Adds spacing between bullets and text */
  list-style-type: disc;
}

li {
  line-height: 1.5; /* Adjusts spacing between list items */
  color: white; /* Customizes text color */
}


.button {
  padding: 10px 20px;
  background-color: #1e1b41; /* Dark purple background */
  color: #ffffff; /* White text */
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #33305b; /* Slightly lighter shade on hover */
}
