/* Wrapping container for the hamburger to keep its position stable */

/* .hamburgerContainer {
  height: 30px;
  display: flex;
  justify-content: flex-end;
} */


/* .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */


/* .line {
  height: 3px;
  width: 100%;
  background-color: white;
  margin: 2px 0;
  box-sizing: border-box;
} */

.navbar {
  margin-top: 1rem;
  width: 100%;
  padding: 0 40px;
  position: fixed;
  /* top: 10px;
  right: 20px; */
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
}

.navList {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 0.5rem;
  /* background-color: #333; */
  /* flex-direction: column; */
}

.navItem {
  /* background-color: #201d4a; */
  /* border: 1px solid white; */
  width: 10rem;
  padding: 0.5rem 0.25rem; 
  text-transform: uppercase;
  transition: background-color 0.4s ease; 
  border-radius: 12rem;
}

.navItem:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.navItem:hover .navLink {
  color: black;
}

.navLink {
  color: white; /* Make text white */
  text-decoration: none; /* Remove underline */
  font-size: 1rem; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.active {
  background-color: white;
  color: black;
  
}

.active .navLink {
  color: black;
}
